/*
Apache JAMES Web Admin API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 3.8.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// JmapUploadsAPIService JmapUploadsAPI service
type JmapUploadsAPIService service

type ApiCleanUploadRepositoryRequest struct {
	ctx context.Context
	ApiService *JmapUploadsAPIService
	scope *string
	cleanUploadRepositoryRequest *CleanUploadRepositoryRequest
}

// Specifies the scope of cleanup (e.g., \&quot;expired\&quot; uploads)
func (r ApiCleanUploadRepositoryRequest) Scope(scope string) ApiCleanUploadRepositoryRequest {
	r.scope = &scope
	return r
}

// Task details
func (r ApiCleanUploadRepositoryRequest) CleanUploadRepositoryRequest(cleanUploadRepositoryRequest CleanUploadRepositoryRequest) ApiCleanUploadRepositoryRequest {
	r.cleanUploadRepositoryRequest = &cleanUploadRepositoryRequest
	return r
}

func (r ApiCleanUploadRepositoryRequest) Execute() (*CleanUploadRepository201Response, *http.Response, error) {
	return r.ApiService.CleanUploadRepositoryExecute(r)
}

/*
CleanUploadRepository Clean upload repository

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCleanUploadRepositoryRequest
*/
func (a *JmapUploadsAPIService) CleanUploadRepository(ctx context.Context) ApiCleanUploadRepositoryRequest {
	return ApiCleanUploadRepositoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CleanUploadRepository201Response
func (a *JmapUploadsAPIService) CleanUploadRepositoryExecute(r ApiCleanUploadRepositoryRequest) (*CleanUploadRepository201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CleanUploadRepository201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JmapUploadsAPIService.CleanUploadRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/jmap/uploads"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scope == nil {
		return localVarReturnValue, nil, reportError("scope is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cleanUploadRepositoryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
